<form>
  <!-- This div with class table-container is needed so the spinner will appear in the detail row. -->
  <div class="table-container">
    <div class="table-loading-shade" *ngIf="isProcessing">
      <div *ngIf="isProcessing" class="spinner-border text-primary" style="width: 80px; height: 80px">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <table class="table table-sticky">
      <thead>
        <tr>
          <th scope="col">
            <span sortable="termCreatedDate" (sort)="onSort($event)">Productos</span>
          </th>
          <th scope="col">
            <span sortable="termDescription" (sort)="onSort($event)">Proveedor</span>
          </th>
          <th scope="col">
            <span sortable="applied" (sort)="onSort($event)">Comprado</span>
          </th>
          <th scope="col">
            <span sortable="loansTotalAmount" (sort)="onSort($event)">Inventario</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of studentDetails">
          <td scope="row" id="termCreatedDate">{{ detail.termCreatedDate }}</td>
          <td scope="row" id="termDescription">{{ detail.termDescription }}</td>
          <td scope="row" id="loansTotalAmount"> {{ detail.loansTotalAmount | currency }} </td>
          <td scope="row" id="attemptedHours">{{ detail.attemptedHours }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between p-2" style="background-color: white">
    <ngb-pagination [collectionSize]="totalDetails" [(page)]="page" [pageSize]="pageSize" (pageChange)="onPageChange()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize"
      (change)="onPageSizeChange()">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
    </select>
  </div>
</form>
